.profileImage {
  width: 10em;
  height: 10em;
  object-fit: cover;
  object-position: center top;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.listGroup {
  margin-top: 5px;
  width: 100%;
  max-height: 75vh;
  overflow-y: auto;
}

.tabs{
    margin-top:15px;
    width: 100%;
}
.tab{
    margin-top: 15px;
    width: 100%;
}


.profileName {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: xx-large;
}

.noEvents {
  margin: auto;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: grey;
}

.button{
    position: fixed;
    bottom: 10px;
}